
header{  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%; /* ajuste a altura real do header */
  background: #05206ce1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;}


main {
  margin-top: 80px; /* mesmo valor da altura do header */
}
#main-container {
  margin-top: 80px; /* mesmo valor do header */
}


section{ display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 19%;
column-gap: 1px;
 
    font-size: medium,25px;
 font-style: italic;

}

h2{ display: flex;
  justify-content: center;
  align-items:center; 
  font-size: medium,25px;
 font-style: italic;}


 .container{ 
    
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(5, 32, 108, 0.882); /* Fundo para visualização (opcional) */
    margin-top: -1%;
    height: 2px;
  
  }

  #logo{ display: flex;
    width: 75px; /* Define a largura da imagem */
    height: 75px; /* Define a altura da imagem */
    border-radius: 75%; /* Torna a imagem circular */

    object-fit: cover; /* Ajusta a imagem sem distorcer */}

   


    #main-container { 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 20px;
        padding: 20px;
       
       


      }

      .card {
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        box-shadow: 0px 2px 6px rgba(5, 32, 108, 0.882);
        transition: transform 0.2s ease-in-out;
    }
    
   
    
    .card img {
        width: 55px;
        height: 55px;
        object-fit: contain;
        margin-bottom: 8px;
    }
    
    .card p {
        font-weight: bold;
        margin: 0;
        font-size: 14px;
    }
    
    .link a{ display: flex;
        justify-content:space-evenly;
            text-decoration: none; 
            color: black;
    
    }

.container-cards {
display: flex;
justify-content: center; 
align-items: center;     
gap: 20px;               
       
}

#card {
background-color: #eef0f5;
border-radius: 10px;
text-align: center;
display: inline-block;
padding: 4px 8px;
margin: 10px;

font-size: 18px;
  box-shadow: 0px 2px 6px rgba(5, 32, 108, 0.882);
       
}

#card:hover {
transform: scale(1.05);
}

#card img {
width: 15px;
height: 15px;
object-fit: contain;
margin-bottom: 8px;
}
  .rdp a :hover{transform: scale(1.05);
 box-shadow: 0px 2px 6px rgba(5, 32, 108, 0.882)}



  .rdp {display: flex;
    justify-content: space-evenly;
   align-items: center;
} 


   
    .rdp img{width: 55px;
                 height: 55px;
                border-radius: 25%;
                margin-top: 75px;
                
               }


                @media (max-width: 768px) {
                    #logo {
                        width: 100px;
                        height: 100px;
                    }


                    section{ display: flex;
                  justify-content: center;
                  flex-direction: column;
                  margin-top: 40%;}





                  
                    .footer {
                        flex-direction: column;
                        margin-top: 20px;
                        gap: 20px;
                    }
                  
                    .item {
                        gap: 10px;
                    }
                  }
                
                
                /* Para tablets */
                @media (max-width: 1024px) {
                  #logo {
                      width: 110px; /* Ajusta o tamanho da imagem */
                      height: 110px; /* Ajusta o tamanho da imagem */
                  }
                 seq
                  .footer {
                      gap: 30px; /* Ajusta o espaçamento entre os ícones no rodapé */
                  }
                
                  .item {
                      gap: 12px; /* Ajusta o espaçamento entre ícone e texto */
                  }
                
                  .main {
                      flex-direction: column; /* Alinha os itens do main em coluna */
                  }
                
                  #main img {
                      width: 20%; /* Ajusta a largura das imagens */
                      height: auto; /* Mantém a proporção */
                  }
                }
                
                /* Para desktop */
                @media (min-width: 1025px) {
                  #logo {
                      width: 125px; /* Tamanho padrão da imagem */
                      height: 125px; /* Tamanho padrão da imagem */
                  }
                
                  .footer {
                      flex-direction: row; /* Alinha os itens no rodapé em linha */
                      gap: 50px; /* Espaço entre os ícones */
                  }
                
                  .item {
                      gap: 15px; /* Ajuste do espaçamento entre ícone e texto */
                  }
                
                  .main {
                      flex-direction: row; /* Mantém os itens do main em linha */
                  }
                
              
                  
                }
                h1{font-family: Arial, Helvetica, sans-serif;}
                
                
                
                h2{font-family: Arial, Helvetica, sans-serif;}
